body {
  margin: 0px;
  padding: 0px;
  background-color: #12173a;
}
#loader {
  height: 100%;
  width: 100%;
  background-color: #12173a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader .hidden {
  animation: fadeout 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.container {
  margin: 100px auto;
  max-width: 1000px;
  font-size: 1.2em;
  color: rgb(128, 128, 128);
}
